.project
.tmp*

# These get placed here after builds and are here in the 
# packaged releases but we don't want them versioned:
deploy
extensible-all*
/examples-1.0/
/examples/calendar/test.html
.idea
.DS_Store
*.komodoproject