.sch-event 
{
    border:1px solid red;
    color: #FFF;
    text-shadow: rgba(0,0,0,.2) 0 -1px 0;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    background-image:url(images/transp-1px.png);
    background-color:Coral;
    cursor: pointer;
    font-weight:bold;
    height:28px;
}

.sch-event .sch-event-inner
{
    line-height: 1em;
    white-space:nowrap;
}

.Sales
{
    background-color:#9ED5FF;
} 

.sch-event-header
{
	overflow:hidden;
    font-size:0.9em;
}

.sch-event-footer
{
    padding-top:1px;
    padding-left:2px;
}

.sch-event.sch-dirty .sch-event-inner
{
    color:transparent;
    background: url(images/loading2.gif) no-repeat center 4px;
    height:11px;
}
div.sch-event:hover 
{
    -webkit-box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5); 
    border-color:#666;
}

.sch-event.dirty .sch-event-header
{
    display:block;
    color:transparent;
    width:30px;
    background: url(images/loading2.gif) no-repeat 5px center;
}

/* 
    -----------------------------------
    Styling of the event tooltip 
    -----------------------------------
*/

.eventTip
{
    padding:5px;
}

.eventTip dd
{
    margin-bottom:17px;
    padding-left:28px;
}

.eventTip dd:last-child
{
    margin-bottom:0px !important;
}

.eventTip dt
{
    padding-left:26px;
    font-weight:bold;
    height:20px;
}



