/*******************************************
 * Extensible recurrence control styles
 *
 ******************************************/
.extensible-recur-inner-ct {
    padding: 8px 0 0 15px;
    border-left: 1px solid #ddd;
}
.x-panel-default-framed .extensible-recur-inner-ct {
    /* inside a framed panel with a blue bg */
    border-left: 1px solid #A7C5DF;
}
.extensible-recur-inner-ct label {
    margin-top: 2px !important;
}
.extensible-recur-weekly label {
    /* checkbox alignment is slightly different */
    margin-top: 1px !important;
    margin-right: 5px !important;
}
.extensible-recur-frequency,
.extensible-recur-duration,
.extensible-recur-interval,
.extensible-recur-monthly,
.extensible-recur-weekly,
.extensible-recur-yearly {
    margin-bottom: 0 !important;
}

.extensible-recur-edit-options .x-btn {
    margin: 0 5px;
}
/* Recurrence edit options icon classes */
.extensible-recur-edit-options .recur-edit-single {
    width: 50px !important;
    margin: 0 auto;
    background: url(../images/default/recur-edit-options.gif) -100px -3px !important;
}
.extensible-recur-edit-options .recur-edit-future {
    width: 50px !important;
    margin: 0 auto;
    background: url(../images/default/recur-edit-options.gif) -50px -3px !important;
}
.extensible-recur-edit-options .recur-edit-all {
    width: 50px !important;
    margin: 0 auto;
    background: url(../images/default/recur-edit-options.gif) 0 -3px !important;
}
