/*******************************************
 * Extensible recurrence control styles
 *
 ******************************************/
.extensible-recur-inner-ct {
    padding: 8px 0 0 15px;
    border-left: 1px solid #ddd;
}
.x-panel-default-framed .extensible-recur-inner-ct {
    /* inside a framed panel with a blue bg */
    border-left: 1px solid #A7C5DF;
}
.extensible-recur-inner-ct label {
    margin-top: 4px;
}
.extensible-recur-weekly label {
    /* checkbox alignment is slightly different */
    margin-top: 3px;
    margin-right: 5px;
}
.extensible-recur-frequency,
.extensible-recur-duration,
.extensible-recur-interval,
.extensible-recur-monthly,
.extensible-recur-weekly,
.extensible-recur-yearly {
    margin-bottom: 0;
}
