$extensible-event-allday-color: 	#fff !default;


//calendar colors:
$extensible-calendar-color-no-info:	#668CB3 !default;
$extensible-calendar-color-1: 		#FA7166 !default;
$extensible-calendar-color-2:		#cf2424 !default;
$extensible-calendar-color-3:		#a01a1a !default;
$extensible-calendar-color-4:		#7e3838 !default;
$extensible-calendar-color-5:		#ca7609 !default;
$extensible-calendar-color-6:		#f88015 !default;
$extensible-calendar-color-7:		#eda12a !default;
$extensible-calendar-color-8:		#d5b816 !default;
$extensible-calendar-color-9:		#e281ca !default;
$extensible-calendar-color-10:		#bf53a4 !default;
$extensible-calendar-color-11:		#9d3283 !default;
$extensible-calendar-color-12:		#7a0f60 !default;
$extensible-calendar-color-13:		#542382 !default;
$extensible-calendar-color-14:		#7742a9 !default;
$extensible-calendar-color-15:		#8763ca !default;
$extensible-calendar-color-16:		#b586e2 !default;
$extensible-calendar-color-17:		#7399f9 !default;
$extensible-calendar-color-18:		#4e79e6 !default;
$extensible-calendar-color-19:		#2951b9 !default;
$extensible-calendar-color-20:		#133897 !default;
$extensible-calendar-color-21:		#1a5173 !default;
$extensible-calendar-color-22:		#1a699c !default;
$extensible-calendar-color-23:		#3694b7 !default;
$extensible-calendar-color-24:		#64b9d9 !default;
$extensible-calendar-color-25:		#a8c67b !default;
$extensible-calendar-color-26:		#83ad47 !default;
$extensible-calendar-color-27:		#2e8f0c !default;
$extensible-calendar-color-28:		#176413 !default;
$extensible-calendar-color-29:		#0f4c30 !default;
$extensible-calendar-color-30:		#386651 !default;
$extensible-calendar-color-31:		#3ea987 !default;
$extensible-calendar-color-32:		#7bc3b5 !default;