body {
    margin: 30px;
    font-family: arial, sans-serif;
    font-size: 12px;
}
h1 {
    margin-bottom: 15px;
    font-size: 18px;
}
h2 {
    margin-bottom: 10px;
    font-size: 15px;
}
h3 {
    margin-bottom: 10px;
    font-size: 12px;
}
p {
    margin-bottom: 15px;
}
strong {
    font-weight: bold;
}
.sample-ct {
    margin-bottom:20px;
}
#sample-overview ul {
    margin: 0 20px 15px;
    list-style: disc;
}
#sample-overview ol {
    margin: 0 20px 15px;
    list-style: decimal;
}
#sample-overview li {
    margin: 0 0 10px;
}
#sample-overview p.view-src a,
#sample-overview p.view-src a:visited {
    border: 1px solid #6B95BF;
    padding: 3px 10px;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ccc));
    background: -moz-linear-gradient(top,  #f6f6f6,  #ccc);
    color: #369;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    filter:alpha(opacity=80);
    opacity: 0.8;
}
.ext-opera #sample-overview p.view-src a {
    opacity: 1.0;
}
#sample-overview p.view-src a:hover {
    filter:alpha(opacity=100);
    opacity: 1.0;
}