body {
    margin: 30px;
    font-family: arial, sans-serif;
    font-size: 12px;
}
h1 {
    margin-bottom: 15px;
    font-size: 18px;
}
h2 {
    margin-bottom: 10px;
    font-size: 15px;
}
h3 {
    margin-bottom: 10px;
    font-size: 12px;
}
p {
    margin-bottom: 15px;
}
strong {
    font-weight: bold;
}
